<mat-toolbar class="header" fxLayout="row" fxLayoutAlign="space-between center">
  <div>
    <img src="../../assets/img/Logo-desktop.png"  routerLink="/Index"/>
  </div>

  <div fxLayout="row" fxLayoutGap="4px">
    <a mat-button routerLink="/Activity"> 探索景點 </a>

    <a mat-button routerLink="/Attractions"> 節慶活動 </a>

    <a mat-button routerLink="/Restaurant"> 品嚐美食 </a>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>

<div class="footer" fxLayoutAlign="center center">
  #The F2E 3rd Week01 #Breakfast
</div>
