<div
  class="content"
  fxLayout="column"
  fxLayoutGap="32px"
  fxLayoutAlign="start center"
>
  <div class="breadcrumb">
    <app-breadcrumb></app-breadcrumb>
  </div>

  <div class="search" fxFlex fxLayout="row" fxLayoutGap="8px">
    <app-search-bar index="Attractions"></app-search-bar>
  </div>

  <div class="theme" fxFlex fxLayoutAlign="start center">主題</div>

  <div
    class="themeList"
    fxFlex
    fxLayout="row wrap"
    fxLayoutAlign="space-between"
  >
    <ng-container *ngFor="let item of themeList">
      <div class="card">
        <div class="title">
          {{ item.label }}
        </div>
        <img src="https://fakeimg.pl/255x124/" />
      </div>
    </ng-container>
  </div>
</div>
