<div class="search" fxFlex [fxLayout]="layout" fxLayoutGap="8px">
  <mat-form-field
    fxFlex="0 0 auto"
    appearance="outline"
    [class]="hiddenCategory ? 'hidden' : ''"
  >
    <mat-select
      [(ngModel)]="selectCategory"
      placeholder="請選擇類別"
      (selectionChange)="onCategoryChange($event)"
    >
      <mat-option *ngFor="let item of categoryList" [value]="item.value">
        {{ item.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field
    fxFlex="0 0 auto"
    appearance="outline"
    [class]="hiddenCity ? 'hidden' : ''"
  >
    <mat-select [(ngModel)]="selectCity" placeholder="請選擇城市">
      <mat-option *ngFor="let item of cityList" [value]="item.value">
        {{ item.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field
    fxFlex="0 0 auto"
    appearance="outline"
    [class]="hiddenTheme ? 'hidden' : ''"
  >
    <mat-select [(ngModel)]="selectTheme" placeholder="請選擇主題">
      <mat-option *ngFor="let item of themeList" [value]="item.value">
        {{ item.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field
    fxFlex="3 0 auto"
    appearance="outline"
    [class]="hiddenKeyWord ? 'hidden' : ''"
  >
    <input
      matInput
      [placeholder]="
        category === 'Activity'
          ? '想找有趣的？請輸入關鍵字'
          : category === 'ScenicSpot'
          ? '你想去哪裡？請輸入關鍵字'
          : '你想吃甚麼？請輸入關鍵字'
      "
      value=""
      autocomplete="off"
    />
  </mat-form-field>

  <div fxFlex="1 0 auto" fxLayoutGap="8px">
    <button
      fxFlex
      mat-raised-button
      color="primary"
      (click)="search({selectCategory, selectCity, selectTheme})"
    >
      <mat-icon>search</mat-icon>
      搜　　尋
    </button>

    <button fxFlex mat-raised-button (click)="openTWMap()">無聊的小功能</button>
  </div>
</div>
