<div class="search" fxFlex fxLayout="row" fxLayoutGap="8px">
  <mat-form-field fxFlex="0 0 auto" appearance="outline">
    <mat-select [(ngModel)]="selectCity" placeholder="請選擇城市">
      <mat-option *ngFor="let item of cityList" [value]="item.value">
        {{ item.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field fxFlex="0 0 auto" appearance="outline">
    <mat-select [(ngModel)]="selectTheme" placeholder="請選擇主題">
      <mat-option *ngFor="let item of themeList" [value]="item.label">
        {{ item.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field fxFlex="3 0 auto" appearance="outline">
    <input
      matInput
      [placeholder]="
        page === 'Activity'
          ? '想找有趣的？請輸入關鍵字'
          : page === 'ScenicSpot'
          ? '你想去哪裡？請輸入關鍵字'
          : '你想吃甚麼？請輸入關鍵字'
      "
      value=""
    />
  </mat-form-field>

  <div fxFlex="1 0 auto">
    <button
      fxFlex
      mat-raised-button
      color="primary"
      (click)="search({selectCity, selectTheme})"
    >
      <mat-icon>search</mat-icon>
      搜　　尋
    </button>
  </div>
</div>
