<div class="search" fxFlex fxLayout="row" fxLayoutGap="8px">
  <mat-form-field fxFlex="0 0 auto" appearance="outline">
    <mat-select [(ngModel)]="defaultSelectItem">
      <mat-option *ngFor="let item of cityList" [value]="item">
        {{ item }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field fxFlex="3 0 auto" appearance="outline">
    <input matInput placeholder="你想吃甚麼？請輸入關鍵字" value="" />
  </mat-form-field>

  <div fxFlex="1 0 auto">
    <button fxFlex mat-raised-button color="primary">
      <mat-icon>search</mat-icon>
      搜　　尋
    </button>
  </div>
</div>
