%shared {
  width: 1100px;
  position: relative;
  margin: auto;

  .card {
    position: relative;
    cursor: pointer;

    .title {
      position: absolute;
      width: 150px;
      top: 50%;
      left: 50%;
      color: #fff;
      font-weight: bolder;
      text-align: center;
      font-size: x-large;
      font-family: cursive;
      transform: translate(-50%, -50%);
    }
  }
}

.content {
  .breadcrumb {
    width: 1100px;
  }

  .theme {
    width: 1100px;
    font-size: xx-large;

    .themeResult {
      font-size: large;
    }
  }

  .themeList {
    @extend %shared;
  }

  .list {
    @extend %shared;
    .card {
      height: 160px;
      border-radius: 12px;
      background-color: #f9f9f9;
      background-clip: content-box;
    }

    .img {
      overflow: hidden;
      border-top-left-radius: 12px;
      border-bottom-left-radius: 12px;

      img {
        width: 160px;
        height: 160px;
        transform: scale(1, 1);
        transition: all 0.5s ease-out;
      }

      img:hover {
        transform: scale(1.1, 1.1);
      }
    }

    .content {
      padding: 0px 15px 0px 15px;

      .name {
        font-size: 22px;
        font-weight: bold;
        color: #2f2f2f;
      }

      .location {
        color: #646464;
      }

      .detail {
        color: #7f977b;

        &::after {
          content: "";
          border: solid #7f977b;
          border-width: 0 2px 2px 0;
          display: inline-block;
          padding: 3px;
          transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
        }
      }
    }
  }
}
