.content {
  .breadcrumb {
    width: 1100px;
  }

  .themeList {
    width: 1100px;
    position: relative;
    margin: auto;

    .card {
      position: relative;
      cursor: pointer;

      .title {
        position: absolute;
        width: 150px;
        top: 50%;
        left: 50%;
        color: #fff;
        font-weight: bolder;
        text-align: center;
        font-size: x-large;
        font-family: cursive;
        transform: translate(-50%, -50%);
      }
    }
  }
}
