<div fxFlex fxLayout="row" fxLayoutGap="8px">
  <ng-container *ngFor="let breadcrumb of breadcrumbs; let lastRecord = last">
    <a
      *ngIf="!lastRecord"
      mat-button
      color="primary"
      [disableRipple]="true"
      [routerLink]="[breadcrumb.url]"
    >
      {{ breadcrumb.label }}
    </a>

    <ng-container *ngIf="lastRecord">
      <a mat-button [disableRipple]="true" (click)="breadClick()">
        {{ breadcrumb.label }}
      </a>
    </ng-container>
  </ng-container>
</div>
