@import "../../shared/scss/page.scss";

:host ::ng-deep .mat-form-field-wrapper {
  margin: 0 !important;
  padding: 0;
}

.content {
  .first {
    width: 920px;

    .title {
      font-size: 48px;

      .underLine {
        text-decoration: underline;
        text-decoration-color: #e0da48;
        text-underline-position: under;
      }
    }

    .subTitle {
      font-size: 20px;
    }
  }

  .carousel {
    width: 1040px;
    height: 400px;
  }

  .third {
    width: 1040px;
    .theme {
      font-size: 36px;
    }

    .more {
      color: #ff725e;
      cursor: pointer;

      &::after {
        content: "";
        border: solid #ff725e;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
      }
    }
  }

  .activityCard {
    height: 160px;
    border-radius: 12px;
    background-color: #f9f9f9;

    .activityImg {
      overflow: hidden;
      border-top-left-radius: 12px;
      border-bottom-left-radius: 12px;

      img {
        width: 160px;
        height: 160px;
        transform: scale(1, 1);
        transition: all 0.5s ease-out;
      }

      img:hover {
        transform: scale(1.1, 1.1);
      }
    }

    .activityContent {
      padding: 0px 15px 0px 15px;

      .activityTime {
        color: #646464;
      }

      .activityName {
        font-size: 22px;
        font-weight: bold;
        color: #2f2f2f;
      }

      .activityLocation {
        color: #646464;
      }

      .activityDetail {
        color: #7f977b;

        &::after {
          content: "";
          border: solid #7f977b;
          border-width: 0 2px 2px 0;
          display: inline-block;
          padding: 3px;
          transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
        }
      }
    }
  }
}
