@import "../../shared/scss/page.scss";

:host ::ng-deep .mat-form-field-wrapper {
  margin: 0 !important;
  padding: 0;
}

.content {
  .search {
    width: 920px;

    .title {
      font-size: 48px;

      .underLine {
        text-decoration: underline;
        text-decoration-color: #e0da48;
        text-underline-position: under;
      }
    }

    .subTitle {
      font-size: 20px;
    }
  }

  .introduction {
    width: 1040px;
    .theme {
      font-size: 36px;
    }

    .more {
      color: #ff725e;
      cursor: pointer;

      &::after {
        content: "";
        border: solid #ff725e;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
      }
    }
  }

  .activityCard {
    @extend %card;
  }
}
