@import "../../shared/scss/page.scss";

.content {
  .theme {
    font-size: xx-large;

    .themeResultCount {
      font-size: large;
    }
  }

  .list {
    width: 1100px;
    position: relative;
    margin: auto;

    .listCard {
      @extend %card;
    }
  }
}
